@font-face { font-family: SourceCodePro; src: url('/fonts/SourceCodePro.ttf'); }

@font-face { font-family: JuliusSansOne; src: url('/fonts/JuliusSansOne.ttf'); }

@font-face { font-family: Silkscreen; src: url('/fonts/Silkscreen.ttf'); }

@font-face { font-family: Silkscreen-Bold; src: url('/fonts/Silkscreen-Bold.ttf'); }

@font-face { font-family: GoudyBookletter1911; src: url('/fonts/GoudyBookletter1911.ttf'); }

body {
  background-color: black;
  color: white;
  font-family: SourceCodePro, Verdana;
  font-size: large;
}

p {
 font-family: Arial;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  background-color: white;
  color: black;
}

.underconstruction {
  font-family: Silkscreen, Arial;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px;
  width: 200px;
  height: 100px;
  padding-block: 25px;
  outline-style: groove;
  background-color: black;
  outline-color: white;
  outline-width: thick;
}

.homebackground {
  margin: 10px;
  padding: 0px;
  height: 100vh;
  outline-style: groove;
  outline-color: white;
  outline-width: thick;
  background-color: black;
}


img { 
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.header {
  padding: 60px;
  text-align: center;
  font-size: 30px;
}

.link {
  position: relative;
  padding: 10px;
  margin: 5px;
  outline-style: groove;
  outline-color: white;
  outline-width: thin;
  background-color: black;
  float: left;
}

.links {
  position: fixed;
  display: flex;
  bottom: 15px;
  left: 15px;
}

.dark_text {
  background:url('/images/dark_static.gif');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-family: JuliusSansOne, Arial;
}

.color_text {
  background:url('/images/color_static.gif');
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.1);
  font-family: Silkscreen, Arial;
}

.middle_box {
  position:relative;
  text-align: center;
  top:50%;
  left:50%;
  outline-style: groove;
  background-color: black;
  outline-color: white;
  outline-width: thick;
  width: 50%;
  height: 10%;
  padding-block: 2%;
  padding-left: 2%;
  padding-right: 2%;
  transform: translate(-50%, 0); 
}